<div class="mb-20 -mx-6 is-relative" style="height: 384px;">
  <div class="is-absolute is-top-0 is-bottom-0 is-left-0 is-right-0 mt-6 mb-6 has-background-info"></div>
  <img class="px-6 is-relative image is-fullwidth" style="height: 384px; object-fit: cover;" src="{{ mc.image.url | resize: '1344x348#' }}" alt="">
</div>
<h2 class="title is-2">{{ mc.title }}</div>

<div class="box">
  <p>{{ mc.static_content }}</p>
</div>

<div class="columns is-multiline">
{% with_scope master_course: mc %}
{% for course in shared_contents.courses %}

  {% assign instructor = course.instructor %}

  <div class="column is-one-quarter">
    <div class="card">
      <div class="card-image">
        <figure class="image is-3by4">
          <img src="{% if instructor.photo.url is blank %}https://bulma.io/images/placeholders/1280x960.png{% else %}{{ instructor.photo.url | resize: '300x400#' }}{% endif %}" alt="{{ instructor.name }}">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{ course.title }}</p>
            <p class="subtitle is-5">// {{ instructor.name }}</p>
          </div>
        </div>
        <div class="content">
          <p>{{ course.price | money }}</p>
          {% if course.is_active %}
            <p>Only {{ course.student_slots_left }} out of {{ course.student_slots_total }} slots left</p>
            <p><a href="{{ school.root_url }}/courses/{{ mc.slug }}" class="button is-link">Register Now</a></p>
          {% else %}
            <p>Register later</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endwith_scope %}
</div>

<div class="box">
  {{ mc.description }}
</div>