  <div class="columns is-multiline">
  {% for i in contents.instructors %}
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by4">
            <img src="{% if i.photo.url is blank %}https://bulma.io/images/placeholders/1280x960.png{% else %}{{ i.photo.url | resize: '800x800#' }}{% endif %}" alt="{{ i.name }}">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ i.name }}</p>
            </div>
          </div>
          <div class="content">
            {{ i.description }}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
